.list {
    margin: 20px;
  }
  
  .list-table {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
  }
  
  .list-table .title {
    font-weight: bold;
  }
  
  .list-table-format {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .list-table-format p {
    margin: 0;
  }
  
  .cross01 {
    cursor: pointer;
    color: red;
  }
  
  .cross01:hover {
    font-weight: bold;
  }